
    {{ define "main" }}

    {{- partial "home/slider.html" . -}}

    {{- partial "home/item-icons.html" . -}}

    {{- partial "home/galery.html" . -}}

    {{- partial "home/featured-menus.html" . -}}

    {{- partial "home/list-menu.html" . -}}


      <section class="section pt-0 bg-light">
        <div class="clearfix mb-5 pb-5">
          <div class="container-fluid">
            <div class="row" data-aos="fade">
              <div class="col-md-12 text-center heading-wrap">
                <h2>Blog</h2>
                <span class="back-text">Our Blog</span>
              </div>
            </div>
          </div>
        </div>
  
        <div class="container">
          <div class="row">
            <div class="col-md-6" data-aos="fade-up" data-aos-delay="100">
              <div class="blog d-block">
                <a class="bg-image d-block" href="single.html" style="background-image: url('img/dishes_1.jpg');"></a>
                <div class="text">
                  <h3><a href="single.html">How To Cook Pasta?</a></h3>
                  <p class="sched-time">
                    <span><span class="fa fa-calendar"></span> April 22, 2018</span> <br>
                  </p>
                  <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                  
                  <p><a href="#" class="btn btn-primary btn-sm">Read More</a></p>
                  
                </div>
                
              </div>
            </div>
            <div class="col-md-6" data-aos="fade-up" data-aos-delay="200">
              <div class="blog d-block">
                <a class="bg-image d-block" href="single.html" style="background-image: url('img/dishes_2.jpg');"></a>
                <div class="text">
                  <h3><a href="single.html">How To Cook Pasta?</a></h3>
                  <p class="sched-time">
                    <span><span class="fa fa-calendar"></span> April 22, 2018</span> <br>
                  </p>
                  <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                  
                  <p><a href="#" class="btn btn-primary btn-sm">Read More</a></p>
                  
                </div>
                
              </div>
            </div>
          </div>
        </div>
  
      </section> <!-- .section -->
      {{ end }}