<section class="section pt-0 pb-0 bg-light bottom-slant-gray">
  
    <div class="clearfix mb-5 pb-5">
      <div class="container-fluid mb-5">
        <div class="row" data-aos="fade">
          <div class="col-md-12 text-center heading-wrap">
            <h2>Special Menu</h2>
          </div>
        </div>
      </div>
      <div class="owl-carousel centernonloop">
        <a href="#" class="item-dishes" data-aos="fade-right" data-aos-delay="100">
          <div class="text">
            <p class="dishes-price">$11.50</p>
            <h2 class="dishes-heading">Organic tomato salad, gorgonzola cheese, capers</h2>
          </div>
          <img src="img/dishes_1.jpg" alt="" class="img-fluid">
        </a>
        <a href="#" class="item-dishes" data-aos="fade-right" data-aos-delay="200">
          <div class="text">
            <p class="dishes-price">$12.00</p>
            <h2 class="dishes-heading">Baked broccoli</h2>
          </div>
          <img src="img/dishes_2.jpg" alt="" class="img-fluid">
        </a>
        <a href="#" class="item-dishes" data-aos="fade-right" data-aos-delay="300">
          <div class="text">
            <p class="dishes-price">$11.00</p>
            <h2 class="dishes-heading">Spicy meatballs</h2>
          </div>
          <img src="img/dishes_3.jpg" alt="" class="img-fluid">
        </a>
        <a href="#" class="item-dishes" data-aos="fade-right" data-aos-delay="400">
          <div class="text">
            <p class="dishes-price">$12.00</p>
            <h2 class="dishes-heading">Eggplant parmigiana</h2>
          </div>
          <img src="img/dishes_4.jpg" alt="" class="img-fluid">
        </a>
      </div>
    </div>

  </section> <!-- .section -->
