<section class="section bg-light py-5  bottom-slant-gray">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mb-4 mb-lg-0 col-lg-3 text-left service-block" data-aos="fade-up" data-aos-delay="">
          <span class="wrap-icon"><span class="flaticon-dinner d-block mb-4"></span></span>
          <h3 class="mb-2 text-primary">Enjoy Eating</h3>
          <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
        </div>
        <div class="col-md-6 mb-4 mb-lg-0 col-lg-3 text-left service-block" data-aos="fade-up" data-aos-delay="100">
          <span class="wrap-icon"><span class="flaticon-fish d-block mb-4"></span></span>
          <h3 class="mb-2 text-primary">Fresh Sea Foods</h3>
          <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
        </div>
        <div class="col-md-6 mb-4 mb-lg-0 col-lg-3 text-left service-block" data-aos="fade-up" data-aos-delay="200">
          <span class="wrap-icon"><span class="flaticon-hot-coffee-rounded-cup-on-a-plate-from-side-view d-block mb-4"></span></span>
          <h3 class="mb-2 text-primary">Cup of Coffees</h3>
          <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
        </div>
        <div class="col-md-6 mb-4 mb-lg-0 col-lg-3 text-left service-block" data-aos="fade-up" data-aos-delay="300">
          <span class="wrap-icon"><span class="flaticon-meat d-block mb-4"></span></span>
          <h3 class="mb-2 text-primary">Meat Eaters</h3>
          <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
        </div>
      </div>
    </div>
  </section>
  
