      <section class="section relative-higher">
  
        <div class="clearfix mb-5 pb-5">
          <div class="container-fluid">
            <div class="row" data-aos="fade">
              <div class="col-md-12 text-center heading-wrap">
                <h2>Testimonial</h2>
                <!-- <span class="back-text">Testimonial</span> -->
              </div>
            </div>
          </div>
        </div>
  
        <div class="container">
  
          <div class="row justify-content-center">
            <div class="col-lg-7">
              <div class="owl-carousel centernonloop2">
                <div class="slide" data-aos="fade-left" data-aos-delay="100">
                  <blockquote class="testimonial">
                    <p>&ldquo; Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. &rdquo;</p>
                    <div class="d-flex author">
                      <img src="img/person_1.jpg" alt="" class="mr-4">
                      <div class="author-info">
                        <h4>Mellisa Howard</h4>
                        <p>CEO, XYZ Company</p>
                      </div>
                    </div>  
                  </blockquote>
                </div>
                <div class="slide" data-aos="fade-left" data-aos-delay="200">
                  <blockquote class="testimonial">
                    <p>&ldquo; Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. &rdquo;</p>
                    <div class="d-flex author">
                      <img src="img/person_2.jpg" alt="" class="mr-4">
                      <div class="author-info">
                        <h4>Mike Richardson</h4>
                        <p>CEO, XYZ Company</p>
                      </div>
                    </div>  
                  </blockquote>
                </div>
                <div class="slide" data-aos="fade-left" data-aos-delay="300">
                  <blockquote class="testimonial">
                    <p>&ldquo; Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. &rdquo;</p>
                    <div class="d-flex author">
                      <img src="img/person_3.jpg" alt="" class="mr-4">
                      <div class="author-info">
                        <h4>Charles White</h4>
                        <p>CEO, XYZ Company</p>
                      </div>
                    </div>  
                  </blockquote>
                </div>
              </div>
            </div>
          </div>
  
          
  
          
        </div>
      </section> <!-- .section -->