
    <footer class="site-footer" role="contentinfo">
        <div class="container mb-5">
          <div class="row justify-content-center">
            <div class="col-lg-6 text-center">
              <div class="row">
                <div class="col-md-12 mb-3">
                  <h3>Subsribe Newsletter</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore ex temporibus magni ipsam inventore dolorum sunt, amet vel.</p>
                </div>
  
                <form action="" class="col-12 mb-5">
                  <div class="row align-items-center">
                  <div class="col-md-8 mb-3 mb-md-0">
                    <input type="text" class="form-control" placeholder="Enter Email Address">
                  </div>
                  <div class="col-md-4">
                    <input type="submit" class="btn btn-primary btn-block" value="Subscribe">
                  </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="row mb-5">
            <div class="col-md-4 mb-5">
              <h3>About Us</h3>
              <p class="mb-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus et dolor blanditiis consequuntur ex voluptates perspiciatis omnis unde minima expedita.</p>
              <ul class="list-unstyled footer-link d-flex footer-social">
                <li><a href="#" class="p-2"><span class="fa fa-twitter"></span></a></li>
                <li><a href="#" class="p-2"><span class="fa fa-facebook"></span></a></li>
                <li><a href="#" class="p-2"><span class="fa fa-linkedin"></span></a></li>
                <li><a href="#" class="p-2"><span class="fa fa-instagram"></span></a></li>
              </ul>
  
            </div>
            <div class="col-md-5 mb-5">
              <div class="mb-5">
                <h3>Opening Hours</h3>
                <p><strong class="d-block font-weight-normal text-black">Sunday-Thursday</strong> 5AM - 10PM</p>
              </div>
              <div>
                <h3>Contact Info</h3>
                <ul class="list-unstyled footer-link">
                  <li class="d-block">
                    <span class="d-block text-black">Address:</span>
                    <span>34 Street Name, City Name Here, United States</span></li>
                  <li class="d-block"><span class="d-block text-black">Phone:</span><span>+1 242 4942 290</span></li>
                  <li class="d-block"><span class="d-block text-black">Email:</span><span>info@yourdomain.com</span></li>
                </ul>
              </div>
            </div>
            <div class="col-md-3 mb-5">
              <h3>Quick Links</h3>
              <ul class="list-unstyled footer-link">
                <li><a href="#">About</a></li>
                <li><a href="#">Terms of Use</a></li>
                <li><a href="#">Disclaimers</a></li>
                <li><a href="#">Contact</a></li>
              </ul>
            </div>
            <div class="col-md-3">
            
            </div>
          </div>
          <div class="row">
            <div class="col-12 text-md-center text-left">
              <p>
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
              Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart text-danger" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank" >Colorlib</a>
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
              </p>
            </div>
          </div>
        </div>
      </footer>
      <!-- END footer -->
  
      <!-- loader -->
      <div id="loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#cf1d16"/></svg></div>
  
      <script src="js/jquery-3.2.1.min.js"></script>
      <script src="js/popper.min.js"></script>
      <script src="js/bootstrap.min.js"></script>
      <script src="js/owl.carousel.min.js"></script>
      <script src="js/jquery.waypoints.min.js"></script>
      <script src="js/aos.js"></script>
  
      <script src="js/jquery.magnific-popup.min.js"></script>
      <script src="js/magnific-popup-options.js"></script>
      
  
      <script src="js/main.js"></script>
  